extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Parker Eakin

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Coming from a background in graphic design and ecommerce, I transitioned to Full Stack Javascript development to innovate and solve problems for others.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li Javascript
          li jQuery
          li Node.js
          li Express
          li .Liquid
          li VBA
          li Adobe Creative Suite
          li Microsoft Office

        h6 Contact Info

        ul
          li (801) 597-6193
          li parker.eakin@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/parkereakin/') LinkedIn
        a.button.expanded(href='https://github.com/Parkereakin') GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
